<div *ngFor ="let movie of findMoviesData()">
  <div class="display_movie_container">
    <div class="movie_first_grid">
      <div class="movie_first_block">
        <div class="titles">
          <div class="primary_title">{{movie.primaryTitle}}<br><span class="original_title">{{movie.originalTitle}}</span></div>
          <div><input type="image" src="assets/icons/icon_pencil.svg" (click)="openDialog()"></div>
        </div>
        <div class="movie_information">
          <div class="detail_title"> id <br><span class="details">{{movie.id}}</span></div>
          <div class="detail_title"> Minutes <br><span class="details">{{movie.length}}</span></div>
          <div class="detail_title"> Start year <br><span class="details">{{movie.startYear}}</span></div>
          <div class="detail_title"> End year <br><span class="details">{{movie.endYear}}</span></div>
          <div class="detail_title"> is adult <br><span class="details">{{movie.isAdult}}</span></div>
          <div class="detail_title"> Genres <br><span class="details">{{movie.genres}}</span></div>
        </div>
      </div>
      <div class="poster">
        <img src="assets/icons/icon_poster.svg">
      </div>
    </div>
  </div>
</div>
