<div class="container">
  <div class="title_container">
    <div class="title">Movie Title</div>
    <div class="original-title">Original title Movie title</div>
  </div>

  <div class="movie-update">
    <input type="button" src="assets/icons/icon_pencil.svg" alt="update" (click)="$event">
  </div>

  <div class="details-container">
    <div class="movie-details">ID</div>
    <div class="movie-details">Minutes</div>
    <div class="movie-details">Start year</div>
    <div class="movie-details">End year</div>
    <div class="movie-details">is adult</div>
    <div class="movie-details">Genres</div>
  </div>
</div>

<p>C'est une affiche d'un film</p>
<p>Titre du film</p>
<p>Son titre original</p>
<p>tableau avec ID Minutes début année, Fin année, isadult</p>
<p>Genres</p>
<p>Comedy,Music</p>
